/*Text Weight Props*/

.textBold {
    font-weight: 700;
}

/*Text Color Props*/
.textDark {
    color: #0e0e0e;
}

.textLight {
    color: #fafafa;
}

/*Text Size Props*/
.textXs {
    font-size: 10px;
}
.textSm {
    font-size: 14px;
}
.textReg {
    font-size: 16px;
}
.textMd {
    font-size: 18px;
}
.textLg {
    font-size: 20px;
}
.textXl {
    font-size: 25px;
}
.textXXL {
    font-size: 30px;
}