.container {
  max-width: 1200px;
  padding: 8px 16px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Flex Props */
.df {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.dfBtw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mla {
  margin-left: auto;
}
.aiTop {
  align-items: top;
}
.aiCenter {
  align-items: center;
}
.dfCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flw {
  flex-wrap: wrap;
}

/* Width Props */

.w100 {
  width: 100%;
}
.w60 {
  width: 60%;
}
.w50 {
  width: 48%;
}
.w40 {
  width: 38%;
}
.w25 {
  width: 45%;
}
.w15 {
  width: 15%;
}

/* Button Props */

.btn {
  background: none;
  border: none;
  border-radius: $defBrad;
  margin: 0px 5px;
  transition: 0.2s;
  &:hover {
    color: $defContr;
  }
  &:focus {
    color: $defContr;
  }
}
.active {
  color: $defContr;
}
.btnOutline {
  border: 1px solid $defContr;
  border-radius: $defBrad;
  padding: 5px;
  &:hover {
    border: 1px solid $defContr;
    color: $defContr;
  }
  &:focus {
    border: 1px solid $defContr;
    color: $defContr;
  }
}
.btnOutlineDark {
  border: 1px solid $defDark;
  border-radius: $defDark;
  padding: 5px;
  &:hover {
    border: 1px solid $defContr;
    color: $defContr;
  }
  &:focus {
    border: 1px solid $defContr;
    color: $defContr;
  }
}
.btnUnderline {
  border-radius: 0;
  border-bottom: 1px solid $defContr;
  padding: 5px;
  &:hover {
    border-bottom: 1px solid $defContr;
  }
}
.childDivided {
  border-radius: 0px;
  margin-right: 0;
  margin-left: 0;
  &:not(:last-child) {
    border-right: 1px solid $defDark;
  }
}
.btnSolid {
  background: $defContr;
  &:hover {
    color: $defLight;
    opacity: 0.8;
  }
}
/* Section Props */

section.section {
  padding: 15px 0;
}
.sectionHeader {
  margin: 15px 0;
}

/* Card Props */

.card {
  border-radius: $defBrad;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  .cardImg {
    width: 100%;
    border-radius: $defBrad;
    position: relative;
    overflow: hidden;
    .topInfo {
      position: absolute;
      padding: 5px;
      top: 10px;
      left: 10px;
    }
    .brandName {
      position: absolute;
      bottom: 15px;
      left: 15px;
      span {
        text-shadow: 0px 0px 5px 2px $defDark;
      }
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: $defBrad;
      max-height: 300px;
    }
    &:hover {
      transition: 0.2s;
      transform: scale(1.1);
      box-shadow: 0px 0px 20px 0px #bcbbbb;
    }
  }
  .cardTxt {
    padding: 0 5px;
    .cardTxtItem {
      margin: 10px 0;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .prodDescr {
      max-height: 41px;
      overflow: scroll;
      padding-top: 0;
      box-shadow: inset 0px -5px 5px 15px #fff;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
.cardLight {
  border-radius: $defBrad;
  background: #fff;
}

/* List Props */

ul.list {
  li.listItem {
    list-style-type: none;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      background: $defContr;
      top: 7px;
      left: -10px;
    }
  }
}

/* Dividers Props */

.textHolder {
  margin: 10px 0;
}
.lineDivided {
  margin: 10px 0;
}

input.prodQuestionInput {
  border: 1px solid $defContr;
  background: $defSec;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 14px;
  color: $defDark;
  &:hover {
    border: 1px solid $defContr;
  }
  &:focus {
    border: 1px solid $defContr;
  }
}
