/*Variables*/
/*Default Equalizing*/
*::-moz-selection {
  background-color: #49D6CE;
  color: #fafafa;
}

*::selection {
  background-color: #49D6CE;
  color: #fafafa;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px !important;
  color: #414141 !important;
}
body a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
}
body a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
body a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
}
body h1 {
  margin: 0;
  padding: 0;
}
body button {
  border: none;
  color: #414141;
  outline: none;
  background: none;
  font-size: 18px;
}
body button:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}
body button:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
}
body input {
  border: none;
  color: inherit;
  outline: none;
  background: #fff;
  border-radius: 10px;
  font-size: 18px;
}
body input:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}
body input:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
  border: none;
}

/*Utils*/
.container {
  max-width: 1200px;
  padding: 8px 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Flex Props */
.df {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.dfBtw {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mla {
  margin-left: auto;
}

.aiTop {
  align-items: top;
}

.aiCenter {
  align-items: center;
}

.aiEnd {
  align-items: flex-end;
}

.dfCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jcCenter {
  justify-content: center;
}

.jcEnd {
  justify-content: end;
}

.centered {
  align-items: center;
  justify-content: center;
}

.flw {
  flex-wrap: wrap;
}

/* Text align Props */
.tal {
  -moz-text-align-last: left;
       text-align-last: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

/* Width Props */
.w100 {
  width: 100%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 48%;
}

.w40 {
  width: 38%;
}

.w25 {
  width: 25%;
}

.w15 {
  width: 15%;
}

/* Button Props */
.btn {
  background: none;
  border: none;
  border-radius: 9px;
  margin: 0px 5px;
  transition: 0.2s;
}
.btn:hover {
  color: #49D6CE;
}
.btn:focus {
  color: #49D6CE;
}

.active {
  color: #49D6CE;
}

.btnOutline {
  border: 1px solid #49D6CE;
  border-radius: 9px;
  padding: 5px;
}
.btnOutline:hover {
  border: 1px solid #49D6CE;
  color: #49D6CE;
}
.btnOutline:focus {
  border: 1px solid #49D6CE;
  color: #49D6CE;
}

.btnOutlineDark {
  border: 1px solid #414141;
  border-radius: 9px;
  padding: 5px;
}
.btnOutlineDark:hover {
  border: 1px solid #49D6CE;
  color: #49D6CE;
}
.btnOutlineDark:focus {
  border: 1px solid #49D6CE;
  color: #49D6CE;
}

.btnUnderline {
  border-radius: 0;
  border-bottom: 1px solid #49D6CE;
  padding: 5px;
}
.btnUnderline:hover {
  border-bottom: 1px solid #49D6CE;
}

.childDivided {
  border-radius: 0px;
  margin-right: 0;
  margin-left: 0;
}
.childDivided:not(:last-child) {
  border-right: 1px solid #414141;
}

.childDivided:nth-child(2) {
  padding-left: 0;
}

.btnSolid {
  background: #49D6CE;
  border-radius: 9px;
}
.btnSolid:hover {
  color: #fafafa;
  opacity: 0.8;
}

/* Section Props */
section.section {
  padding: 15px 0;
}

.sectionHeader {
  margin: 15px 0;
}

.dividerH {
  height: 1px;
  width: 100%;
  border-radius: 9px;
  background: #f2f2f2;
}

/* Card Props */
.card {
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.card .cardImg {
  width: 100%;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
}
.card .cardImg .topInfo {
  position: absolute;
  padding: 5px;
  top: 10px;
  left: 10px;
}
.card .cardImg .brandName {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.card .cardImg .brandName span {
  text-shadow: 0px 0px 5px 2px #414141;
}
.card .cardImg img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  max-height: 300px;
}
.card .cardImg:hover {
  transition: 0.2s;
  transform: scale(1.1);
  box-shadow: 0px 0px 20px 0px #bcbbbb;
}
.card .cardTxt {
  padding: 0 5px;
}
.card .cardTxt .cardTxtItem {
  margin: 10px 0;
}
.card .cardTxt .cardTxtItem a:hover {
  text-decoration: underline;
}
.card .cardTxt .prodDescr {
  max-height: 41px;
  overflow: scroll;
  padding-top: 0;
  box-shadow: inset 0px -5px 5px 15px #fff;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card .cardTxt .prodDescr::-webkit-scrollbar {
  display: none;
}

.cardLight {
  border-radius: 9px;
  background: #fff;
}

/* List Props */
ul.list li.listItem {
  list-style-type: none;
  position: relative;
}
ul.list li.listItem::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #49D6CE;
  top: 7px;
  left: -10px;
}

/* Dividers Props */
.textHolder {
  margin: 10px 0;
}

.lineDivided {
  margin: 10px 0;
}

/* Input Props */
.customInput {
  transition: 0.2s;
  font-size: 14px;
  height: 30px;
}
.customInput:hover {
  box-shadow: 0px 0px 10px 0px #49D6CE;
  font-size: 18px;
}
.customInput:focus {
  box-shadow: 0px 0px 10px 0px #49D6CE;
  font-size: 18px;
}

.dataForm .customInput {
  border: 1px solid #49D6CE;
  padding: 5px;
}

/* Blank wrapper Props */
.itemBlank {
  padding: 0;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* Modal Props */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
}
.modal .modalBody {
  width: 50%;
  max-height: 60%;
  background: #fff;
  border-radius: 9px;
  padding: 15px;
  position: relative;
  z-index: 1;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal .modalBody::-webkit-scrollbar {
  display: none;
}
.modal .modalBody .modalHeader {
  margin-bottom: 10px;
}

/*Text Props*/
/*Text Font Family Props*/
.textFFMain {
  font-family: "Montserrat", sans-serif;
}

.textFFSec {
  font-family: "Roboto", sans-serif;
}

/*Text Weight Props*/
.text300 {
  font-weight: 300;
}

.text400 {
  font-weight: 400;
}

.text500 {
  font-weight: 500;
}

.text700 {
  font-weight: 700;
}

.text900 {
  font-weight: 900;
}

/*Text Color Props*/
.textDark {
  color: #414141;
}

.textLight {
  color: #fafafa;
}

.textContr {
  color: #49D6CE;
}

.textError {
  color: crimson;
}

.textMuted {
  color: #a3a3a3;
}

.tdu {
  text-decoration: underline;
}

/*Text Size Props*/
.textXs {
  font-size: 12px;
}

.textSm {
  font-size: 14px;
}

.textReg {
  font-size: 16px;
}

.textMd {
  font-size: 18px;
}

.textLg {
  font-size: 20px;
}

.textXl {
  font-size: 25px;
}

.textXXL {
  font-size: 30px;
}

.ttu {
  text-transform: uppercase;
}

/*Sectional*/
header.header {
  padding: 10px 15px 0px 15px;
  background: #f2f2f2;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.hSearch {
  margin: 0px 10px;
}
.hSearch input {
  padding: 5px;
  transition: 0.2s;
}

.logo {
  margin-right: 15px;
}

.headerCategories {
  padding: 30px 0px 5px 0px;
}
.headerCategories .btn:first-child {
  margin-left: 0;
  padding-left: 0;
}

footer.footer {
  padding: 20px 0;
  background: #f2f2f2;
}
footer.footer .footerMain .logo {
  margin-right: 20px;
}

.gallery {
  width: 49%;
}
.gallery .card {
  width: 100%;
}
.gallery .card .cardImg img {
  max-height: 700px;
}
.gallery .galleryThumbs {
  display: flex;
  flex-direction: column;
}
.gallery .galleryThumbs .galleryThumbsItem {
  width: 40px;
  height: 55px;
  margin-right: 10px;
  margin-top: 15px;
}
.gallery .galleryThumbs .galleryThumbsItem a {
  width: 100%;
}
.gallery .galleryThumbs .galleryThumbsItem a img {
  width: 100%;
  border-radius: 9px;
}

.prodDescr {
  padding-top: 15px;
}

.buyHolder {
  margin-top: 35px;
}
.buyHolder .btnBuy {
  width: 49%;
  height: 50px;
}

.productsHolder .card {
  margin-right: 15px;
}

.productSingleMain .gallery .card .cardImg:hover {
  transform: none !important;
  box-shadow: none;
}

button.questionSend {
  height: 40px;
  width: 150px;
  margin-left: 0;
}

.categoryFilter .filterItem {
  font-size: 14px;
}

.logInHolder {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.logInHolder .loginMain {
  width: 20%;
  height: auto;
  padding: 15px;
  margin-top: -150px;
  text-align: center;
}
.logInHolder .loginMain .textHolder {
  margin-top: 20px;
}
.logInHolder .loginMain .textHolder .customInput {
  padding: 10px;
}
.logInHolder .loginMain .btnSolid {
  height: 50px;
  width: 50%;
  margin-top: 20px;
}

.cartProduct .cartProductImg {
  width: 80px;
  height: auto;
  margin-right: 10px;
}
.cartProduct .cartProductImg img {
  width: 100%;
  border-radius: 9px;
}
.cartProduct .cartCalculation {
  margin-right: 10px;
}

.order {
  padding: 10px;
}

.delWay {
  padding: 10px;
}

.payWayItem {
  background: #f2f2f2;
  border-radius: 9px;
}
.payWayItem .payMethodIcon {
  margin: 0 10px;
}

.orderTotal {
  background: #f2f2f2;
  padding: 15px;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 9px;
}
.orderTotal .btnSolid {
  padding: 15px;
}
.orderTotal .dividerH {
  background: #cdcdcd;
}/*# sourceMappingURL=style.css.map */