/*Variables*/

@import 'variables';

/*Default Equalizing*/
*::-moz-selection {
  background-color: $defContr;
  color: $defLight;
}
*::selection {
  background-color: $defContr;
  color: $defLight;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px !important;
  color: $defDark !important;
  a {
    color: inherit;
    text-decoration: none;
    font-size: $fzDef;
    &:hover {
      color: inherit;
      text-decoration: none;
      cursor: pointer;
    }
    &:focus {
      color: inherit;
      text-decoration: none;
      outline: none;
      border: none;
    }
  }

  button {
    border: none;
    color: $defDark;
    outline: none;
    background: none;
    font-size: $fzDef;
    &:hover {
      color: inherit;
      text-decoration: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    &:focus {
      color: inherit;
      text-decoration: none;
      outline: none;
      border: none;
    }
  }
  input {
    border: none;
    color: inherit;
    outline: none;
    background: #fff;
    border-radius: 10px;
    font-size: $fzDef;
    &:hover {
      color: inherit;
      text-decoration: none;
      outline: none;
      border: none;
      cursor: pointer;
    }
    &:focus {
      color: inherit;
      text-decoration: none;
      outline: none;
      border: none;
    }
  }
}

/*Utils*/

@import 'utils';

/*Text Props*/

@import 'fonts';

/*Sectional*/
header.header {
  padding: 10px 15px 0px 15px;
  background: $defSec;
}
.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.hSearch {
  margin: 0px 10px;
  input {
    padding: 5px;
    transition: 0.2s;
  }
}
.logo {
  margin-right: 15px;
}
.headerCategories {
  padding: 30px 0px 5px 0px;
  .btn:first-child {
    margin-left: 0;
  }
}
footer.footer {
  padding: 20px 0;
  background: $defSec;
  .footerMain {
    .logo {
      margin-right: 20px;
    }
  }
}
.gallery {
  width: 49%;
  .card {
    width: 100%;
  }
  .galleryThumbs {
    display: flex;
    flex-direction: column;
    .galleryThumbsItem {
      width: 40px;
      height: 55px;
      margin-right: 10px;
      margin-top: 15px;
      a {
        width: 100%;
        img {
          width: 100%;
          border-radius: $defBrad;
        }
      }
    }
  }
}
.prodDescr {
  padding-top: 15px;
}
.buyHolder {
  margin-top: 35px;
  .btnBuy {
    width: 49%;
    height: 50px;
  }
}
.productsHolder {
  .card {
    margin-right: 15px;
  }
}
.productSingleMain {
  .gallery {
    .card {
      .cardImg {
        &:hover {
          transform: none !important;
          box-shadow: none;
        }
      }
    }
  }
}
